body {
    width: 90vw;
}

table {
    width: 100%;
    margin: 2em;
}

.notes tr th:last-child,
.notes tr td:last-child {
    display: flex;
    justify-content: flex-end;
}

table,
th,
td {
    border: 1px solid black;
}

.title {
    display: flex;
    justify-content: center;
}

.title span {
    font-size: x-large;
    font-weight: bolder;
}
.addNoteButt {
    display: flex;
    justify-content: flex-end;
}
.addNote {
    padding: 0.3em 1em;
}